<main>
  <div class="invalid">
    <img id="sadFaceImg" src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png" alt="sad face" />
    <h1>Invalid username or password!</h1>
    <a class="btn" href="/login">Try again</a>
  </div>
</main>